html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.w3-sidebar {
    position: fixed;
    height: 100%;
    top: 0px;
    left: 0;
}
.container{
    margin-left:250px;
}
.navbar {
    margin-left: 40px;
}