html {
  font-size: 14px;
}
body{
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 420px){
    html{
        width:100%;
        max-width:100%;
    }
    body {
        max-width: 100%;
        width: 100%;
        min-width:100%;
    }
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.w3-sidebar {
    position: fixed;
    height: 100%;
    top: 0px;
    left: 0;
}
.container{
    margin-left:250px;
}
.navbar {
    margin-left: 40px;
}