@using Business.DTOs

@{
    ViewData["Title"] = "GetUpdatePage";
    var categories = ViewBag.Categories;
}
@model BookUpdateDto
<h1>GetUpdatePage</h1>
<form asp-controller="Book" asp-action="UpdateBook" method="post" enctype="multipart/form-data">
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
    <input type="hidden" asp-for="Id"/>

        <label class="form-label" for="form6Example1">Book Name</label>
        <input type="text" id="form6Example1" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
      </div>
           <div class="form-outline">
        <label class="form-label" for="form6Example1">ISBN</label>
        <input type="text" class="form-control" asp-for="ISBN" />
      </div>
        <div class="form-outline mb-4">
    <label class="form-label" asp-for="Description">Description</label>
    <textarea type="text"  class="form-control" asp-for="Description"></textarea>
  </div>
    </div>
  </div>
     <div>
        <input type="hidden" asp-for="ImagePath"/>
        <input type="file" name="imageFile" accept="image/*" id="imageInput">
        <img src="/@Model.ImagePath" id="previewImage" alt="Book Image" style="max-width: 200px; max-height: 200px;" />
   <span asp-validation-for="ImagePath"></span>
      </div>
   
  <div class="form-outline mb-4">
    <label asp-for="Author.Firstname"class="form-label">Author FirstName</label>
    <input type="text"  class="form-control" asp-for="Author.Firstname"/>
  </div>
    <div class="form-outline mb-4">
    <label class="form-label">Author LastName</label>
    <input type="text"  class="form-control" asp-for="Author.Lastname"/>
  </div>
      <select class="form-control" asp-for="CategoryId">
        <option value="">Select a category</option>
        @foreach (var category in categories)
        {
                        <option value="@category.Id">@category.CategoryName</option>
        }
    </select>
  <div class="form-outline mb-4">
    <label class="form-label" for="form6Example4">Page Count</label>
    <input type="number" id="form6Example4" class="form-control" asp-for="PageCount"/>
  </div>
    <div class="form-outline mb-4">
 <label class="form-label" for="form6Example4">Price</label>
<input asp-for="Price" class="form-control" type="text" id="decimalInput" name="Price" data-val="true" data-val-number="Geçerli bir sayı giriniz." data-val-decimal="Geçerli bir ondalık sayı giriniz." />
<span asp-validation-for="Price" class="text-danger"></span>

  </div>
  <div class="mb-3 mt-3">
            <input class="form-control" asp-for="PublishDate" >
        </div>

  <button type="submit" class="btn btn-primary btn-block mb-4">Kaydet</button>
</form>
<script>
    // Resim yüklendiğinde görüntüyü güncelleme
    document.getElementById('imageInput').addEventListener('change', function (e) {
        var previewImage = document.getElementById('previewImage');
        previewImage.src = URL.createObjectURL(e.target.files[0]);
    });
</script>

