@using Business.DTOs

@{
    ViewData["Title"] = "Index";
    var books = ViewBag.Books;


}
@model CreateAuthorDto
<h1>Index</h1>

<form asp-controller="Author" asp-action="AddAuthor" method="post">
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <label class="form-label" asp-for="Firstname">Firstname</label>
         <input type="hidden" asp-for="Id"/>
        <input type="text" class="form-control" asp-for="@Model.Firstname" />
      </div>
      <div class="form-outline mb-4">
    <label asp-for="Lastname" class="form-label">Lastname</label>
    <input type="text" class="form-control" asp-for="@Model.Lastname" />
  </div>
  </div>
<div class="form-outline mb-4">
    <label class="form-label">Addresses</label>
    <div id="addressFields">
        <div>
            <input type="text" class="form-control" name="Addresses[0].Street" placeholder="Street" />
            <input type="text" class="form-control" name="Addresses[0].City" placeholder="City" />
            <input type="text" class="form-control" name="Addresses[0].Country" placeholder="Country" />
        </div>
    </div>
</div>

  <div class="form-outline mb-4">
       <select class="form-control" asp-for="BookId">
        <option value="">Select a book</option>
                @foreach (var book in books)
                {
                        <option value="@book.Id">@book.Name</option>
                }
    </select>
  </div>

   <div class="form-outline mb-4">
    <label class="form-label">University Name</label>
    <button class="btn btn-outline-primary mb-3"  type="button" id="showUniversityForm">+</button>
    <div>
        <input class="form-control" name="Universities[0].UniversityName"/>
</div>
  </div>


<div id="universityForm" style="display:none;">
    <div class="form-outline mb-4">
        <label class="form-label">2.University Name</label>
        <div>
            <input class="form-control" name="Universities[1]?.UniversityName"/>
        </div>
    </div>
</div>
  <button type="submit" class="btn btn-primary btn-block mb-4">Kaydet</button>
</form>

     <script>
            document.getElementById("showUniversityForm").addEventListener("click", function() {
    var universityForm = document.getElementById("universityForm");
    if (universityForm.style.display === "none") {
        universityForm.style.display = "block";
    } else {
        universityForm.style.display = "none";
    }
});

    </script>