
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <footer class="border-top footer text-muted" style="position:absolute">
        <div class="container">
            &copy; 2023 - BookStore.AspNetCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
