
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <header style="margin-top:50px;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm   box-shadow mb-3" >
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="margin-top:-60px;">
                    <ul class="navbar-nav flex-grow-1">

                    </ul>
                        <div class="ml-auto mx-5 " >

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a type="submit" class="btn btn-outline-dark"  asp-controller="Register"
                                    asp-action="Index"
                                    >Sign Up</a>

                        <a type="submit" class="btn btn-outline-dark" asp-action="Index" 
                                  asp-controller="Login">Sign In</a>
                    }
                  
                </div>
                </div>
            </div>
        </nav>
    </header>