
@{
    ViewData["Title"] = "Index";
}
@model UserSignUpVM
 <div class="d-flex justify-content-center mt-5">
<form asp-controller="Register"  asp-action="Index" method="post">
     <div   style="border:1px solid #D0BFFF;padding:20px;border-radius:10px; " >
  <div class="row mb-4">
    <div class="col" style="width:500px">
      <div class="form-outline">
        <label class="form-label" for="form6Example1" asp-for="NameSurname">Name Surname</label>
        <input type="text"  class="form-control" asp-for="NameSurname" />
                <span asp-validation-for="NameSurname" class="text-danger"></span>

      </div>
       <div class="form-outline">
        <label class="form-label" for="form6Example1" asp-for="Username">Username</label>
        <input type="text"  class="form-control" asp-for="Username" />
         <span asp-validation-for="Username" class="text-danger"></span>

      </div>
    </div>
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form6Example4">Password</label>
    <input type="password" id="form6Example4" class="form-control" asp-for="Password"/>
         <span asp-validation-for="Password" class="text-danger"></span>

  </div>
    <div class="form-outline mb-4">
    <label class="form-label" for="form6Example4">Email</label>
    <input  type="email" class="form-control" asp-for="Email"/>
         <span asp-validation-for="Email" class="text-danger"></span>
  </div>
  <div class="text-danger" asp-validation-summary="ModelOnly"></div>

  <button type="submit" class="btn btn-dark btn-block mb-4" >Sing Up</button>
  </div>
</form>
</div>