<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/7869b3ed74.js" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore.AspNetCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookStore.AspNetCore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
     @if (User.Identity.IsAuthenticated)
    {
        <div class="w3-sidebar w3-bar-block w3-light w3-card" style="display:none" id="mySidebar">
                <button onclick="w3_close()" class="btn btn-light"><i class="fa-solid fa-x"></i></button>
                <a  asp-controller="Home" asp-action="Index" class="w3-bar-item w3-button"><i class="fa fa-home" 
                    aria-hidden="true"></i>Home Page</a>
                <a asp-controller="Author" asp-action="Index" class="w3-bar-item w3-button">
                        <i class="fa fa-users"></i>
                    Authors</a>
                              <button class="w3-button w3-block w3-left-align" onclick="myAccFunc()" id="booksButton"><i class="fa fa-book"></i>
                    Books <i class="fa fa-caret-down"></i>
                </button>
                <div id="demoAcc" class="w3-hide w3-white w3-card">
                    <a asp-controller="Book" asp-action="GetAddPage" class="w3-bar-item w3-button">Create Books</a>
                    <a asp-controller="Book" asp-action="Index" class="w3-bar-item w3-button">List Books</a>
                </div>
            <a href="#" class="w3-bar-item w3-button">Link 3</a>

            @if (User.Identity.IsAuthenticated)
            {
                    <form id="logoutForm" asp-controller="Login" asp-action="Logout" method="post" class="form-inline">
                    @Html.AntiForgeryToken()
                   <button type="submit" class="w3-bar-item w3-button" id="logout">
                               <i class="fa-solid fa-arrow-right-from-bracket"></i>
                       Log Out</button>
                   </form>
            }
        </div>
            

    }

<div class="nav flex-column nav-pills" id="closeButtonsSidebar"
role="tablist" aria-orientation="vertical">
    <a class="w3-bar-item w3-button" style="background-color:#E4E4D0 !important;" onclick="w3_open()">
        <i class="fa fa-bars fa-2x" aria-hidden="true" ></i></a>

   <a  asp-controller="Home" asp-action="Index" class="w3-bar-item w3-button"><i class="fa fa-home fa-2x" 
                    aria-hidden="true"></i> </a>
  <a asp-controller="Author" asp-action="Index" class="w3-bar-item w3-button"><i class="fa fa-users fa-2x"></i> </a>
    <a class="w3-bar-item w3-button toggle-button-wrapper" id="bookButton">
        <i class="fa fa-book fa-2x"></i>
 
    </a>
        <div class="hover-content">
        <a asp-controller="Book" asp-action="Index" >List Books</a>
        <a asp-route="addProduct">Create Book</a>

        </div>
        @if (User.Identity.IsAuthenticated)
        {
                        <form id="logoutForm" asp-controller="Login" asp-action="Logout" method="post" class="form-inline">
                @Html.AntiForgeryToken()
                       <button type="submit" class="w3-bar-item w3-button" id="logout">
                                   <i class="fa-solid fa-arrow-right-from-bracket fa-2x"></i>
                           </button>
                       </form>
        }

</div>

   <div class="w3-container" >
              <partial name="~/Views/Shared/partials/_headerPartial.cshtml"></partial>

            </div>
        <div class="container">
            <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
  @* // <partial name="~/Views/Shared/partials/_footerPartial.cshtml"></partial>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $(".toggle-button-wrapper").click(function() {
               if ($(this).hasClass("active")) {
            $(this).removeClass("active");
            $(".hover-content").css("display", "none");
        } else {
            $(this).addClass("active");
            $(".hover-content").css("display", "block");
        }
            
            
        });
    });
</script>

  <script>
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3";
  } else { 
    x.className = x.className.replace(" w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-green", "");
  }
}


</script>
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("closeButtonsSidebar").style.display = "none";

}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
   document.getElementById("closeButtonsSidebar").style.display = "flex";
}
</script>
</body>
</html>
