@model ErrorViewModel
@{
    ViewData["title"] = "error";
}

<h1 class="text-danger">error.</h1>
<h2 class="text-danger">an error occurred while processing your request.</h2>


@*<div class="alert-danger">

    @foreach (var item in Model.Errors)
    {
            <p>@item</p>
    }
</div>*@