@{
    ViewData["Title"] = "Home Page";
}
@model List<BookListViewModel>

      <style>
            @@media (max-width: 952px){
                .col-sm-4 {
                    margin:30px;
                   /* Özelleştirilmiş genişlik */
                }
                .row{
                    margin-right:150px;

                }
                .card{
                    max-width: 30rem;

                }
            }
              @@media (max-width: 720px){
              .col-sm-4 {
                    margin:50px;

                   /* Özelleştirilmiş genişlik */
                }
            }

              @@media (max-width: 570px){
                  .col-sm-4{
                    right:130px ;
                   position:relative;

                }
                .card{
                    max-width: 10rem;

                }
            }
              @@media (max-width: 420px){
                  .col-sm-4{
                    right:190px ;
                   position:relative;

                }
                .card{
                    max-width: 10rem;

                }
            }
        </style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="row">
    @foreach (var item in Model)
    {
              <div class="col-sm-4">
       <div class="card border-light mb-3" style="max-width: 20rem;">

      <div class="card-body text-dark ">
               <div class="d-flex justify-content-center" style=" height: 300px;">
                         <a asp-controller="Book" asp-action="GetBook" asp-route-id="@item.Id"><img  src="/images/@(item.ImagePath)" style="max-width: 300px; max-height: 300px;">

                </a>
        </div>
             <div class="text-center mt-3"> <!-- İçeriklerin ortalayacağı div -->
            <h5 class="card-title">@item.Name -</h5>
            <p class="card-text">@item.Price TL</p>
        </div>
      </div>  
    </div>
      </div>
    }


 
</div>