@{
    ViewData["Title"] = "Home Page";
}
@model List<BookListViewModel>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="row">
    @foreach (var item in Model)
    {
              <div class="col-sm-4">
       <div class="card border-light mb-3" style="max-width: 20rem;">

      <div class="card-body text-dark ">
               <div class="d-flex justify-content-center" style=" height: 300px;">
            <img src="@item.ImagePath" style="max-width: 300px; max-height: 300px;">
        </div>
             <div class="text-center mt-3"> <!-- İçeriklerin ortalayacağı div -->
            <h5 class="card-title">@item.Name - @item.Author</h5>
            <p class="card-text">@item.Price TL</p>
        </div>
      </div>  
    </div>
      </div>
    }


 
</div>